{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ SITEURL }}/theme/css/member.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ SITEURL }}/theme/itindublin/css/member.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ SITEURL }}/theme/plugins/jstree/themes/default/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block bannertext %}
<h1>{{ page.title }}</h1>
{% endblock %}

{% block navbar %}
    {% include "includes/navbar-home.html" %}
{% endblock %}

{% block content %}

<div class="container content-container" style="width: 90% !important;">
    <div style="text-align: center"><a class="waves-effect waves-light btn" href="member-cad.html">Efetuar Registro</a></div>
    <br>
    <div ng-app="myApp"  ng-controller="myCtrl" class="row">
        <div class="col side-bar" style="float: left;width:15%;height: 1000px;">
        <button id ="filter_member" ng-click="filter_member()">Filtrar</button>
        <h5>Filter  Members</h5>
          <div id="filters_option"></div>
        </div>
        <div>
        <div class="col l3 m4 s6" ng-repeat="member in getMembers" style="width: 20%;">
             <div class="card hoverable small dev-card" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)) repeat scroll 0 0%, rgba(0, 0, 0, 0) url({[{ member.avatar }]}?size=100) repeat scroll 0 0;">
                <div class="card-image">
                    <span class="card-title">{[{ member.short_name }]}</span>
                </div>
                <div class="card-action">
                    <a title="GitHub"  ng-if="member.github" href="http://github.com/{[{ member.github }]}" target="_blank"><i class="fa fa-github"></i></a>
                    <a title="linkedin" ng-if="member.linkedin" href="https://www.linkedin.com/in/{[{ member.linkedin }]}"  target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
       </div>
    </div>
    </div>
      


{% endblock %}
{% block scripts %}
        {{ super() }}
        <script src="{{ SITEURL }}/theme/itindublin/js/member.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script>

             $(document).ready(function(){
                $('.tooltipped').tooltip({delay: 50});
             });

        </script>
{% endblock %}